<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=3, width=device-width"/>
        <meta name="theme-color" content="#AE9090"/>
        <title>{{head_title|safe_join(' | ') }}</title>
    </head>
    <body{{ attributes }}>
        <div class="container">
            <h1>Drupal Starter Pack</h1>
        </div>
    </body>
</html>